  <footer class="footer pt-5 mt-5">
    <hr class="horizontal dark mb-5">
    <div class="container">
      <div class=" row">
        <!--first col-->
        <div class="col-md-3 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-gradient text-Primary Link font-weight-bolder">Make A Trip</h6>

          </div>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="/page-404.html">
                  About Us
                </a>
              </li>
            </ul>
        </div>
        <!--second col-->
        <div class="col-md-3 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-gradient text-Primary Link text-sm">Help & Support</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="/page-404.html">
                  FAQ
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/page-404.html">
                  Contact us
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!--third col-->
        <div class="col-md-3 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-gradient text-Primary Link text-sm">Legal</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="/" target="_blank">
                  Terms of use
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/" target="_blank">
                  Privacy Policy
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/" target="_blank">
                  Cookie policy
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/" target="_blank">
                  Copyright policy
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="my-4 text-sm">© MAKE A TRIP LTD, SCE.</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

