{% extends 'layouts/base-travel.html' %}

{% block title %} Career {% endblock title %}



<!-- Specific CSS goes HERE      -->
{% block stylesheets %}
    <!--===============================================================================================-->



{% endblock stylesheets %}


{% block content %}

<!-- main_background -->
<header class="header-2">
  <div class="page-header section-height-75 relative" style="background-image: url('../../static/assets/img/career.jpg')">
    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>

<!-- Career Accordion -->
    <section>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card mb-12">
          <div class="card-header pb-0">
            <h2>Current vacancies</h2>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Job Title</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Job ID	</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Job Network	</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Deadline</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>

                <tbody>
                {% if career %}
                    {% for obj in career %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="../../static/assets/img/new_job.jpg" class="avatar avatar-sm me-3" alt="user1">
                        </div>

                        <div class="d-flex flex-column justify-content-center">


                          <a href="{% url 'career' obj.id %}"><h6 class="mb-0 text-sm">{{ obj.job_title }}</h6></a>
                        </div>

                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{ obj.id }}</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                          <h6 class="mb-0 text-sm">{{ obj.job_net }}</h6>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{ obj.job_deadline }}</span>
                    </td>
                    <td class="align-middle">
                      <a href="" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                      </a>
                    </td>
                  </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    </section>

{% endblock content %}



<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock javascripts %}