{% extends 'layouts/base-travel.html' %}

{% block title %} Cookie policy {% endblock title %}

<!-- Specific CSS goes HERE      -->
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/static/assets/css/cookie_policy.css">
{% endblock stylesheets %}

{% block content %}

<!-- main_background -->
<header class="header-2">
  <div class="page-header section-height-75 relative" style="background-image: url('../../static/assets/img/plane2.jpg')">
    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>

  <div class = "container">
      <div id="cookiepolicy">
        <h1 class="text-center">MAKE A TRIP Cookie Policy</h1>
        <div class="text-center"><strong>Last updated Date: 29 December 2021</strong></div>
        <br>
        <p>Like many website owners or operators, we use automated data collection tools such as Cookies and Web Beacons to customize and improve your experience when you use our Services. Please read this Cookie Policy to understand what a Cookie is, how we use them, how certain third parties with which we partner may use Cookies on our Services, and what choices you have regarding our use of Cookies. Also, please note that, unless we define a term in this Cookie Policy, all capitalized terms used in this Cookie Policy have the same meanings as in our Terms of Service. So, please make sure that you have read and understand our Terms of Service.</p>
        <h2>What are Cookies and Web Beacons?</h2>
        <p><strong>“Cookies”</strong> are small text files that are placed on your device (e.g., a computer or mobile phone) by a Web Server when you access our Services. We may use both session Cookies and persistent Cookies to identify that you’ve logged into the Services and to tell us how and when you interact with our Services. While a session Cookie will automatically disappear after you close your browser, a persistent Cookie will remain even after you close your browser and may be used by your browser on subsequent visits to our Site or to one of the other websites that hosts our Services. Persistent Cookies can be removed. Please review your web browser's “Help” file to learn how to modify your Cookie settings.</p>
        <p>“Web Beacons” (also known as Web bugs, pixel tags or clear GIFs) are tiny graphics with a unique identifier that are often used in combination with Cookies. Web Beacons are included on our Services for several purposes, including to deliver or communicate with Cookies, to track and measure the performance of our Services, to monitor how many visitors view our Services, and to monitor the effectiveness of our advertising. Unlike Cookies, which are stored on the user’s device, Web Beacons are typically embedded invisibly on web pages (or in an e-mail). Also, unlike Cookies, you cannot decline Web Beacons.</p>
        <h2>Use of Cookies</h2>
        <p>We or one of our advertising partners may place one or more Cookies on your device when you access a page that hosts our Services. We may use Cookies to monitor aggregate usage and web traffic routing on our Services and to customize and improve our Services including by: (a) remembering your information so that you will not have to re-enter it during your visit or the next time you access our Services and (b)&nbsp;monitoring aggregate site usage metrics such as total number of visitors, pages accessed, and how users navigate the Services.</p>
        <h2>Third-Party Advertisers</h2>
        <p>We use third-party advertising companies to serve ads and collect information using Cookies or Web Beacons when you visit a website that hosts our Services. These companies will not have access to or use any personally identifiable information, but will use other non-personal information about your visits to our Services and other websites for legally permissible purposes including to provide advertisements on our Services, on other websites, and on other forms of media regarding goods and services that may be of interest to you. If you would like more information about this practice and to know your choices about not having this information used by these companies.</p>
        <h2>Analytics</h2>
        <p>We use Google Analytics, a Web analytics service of Google Inc. (“Google”). Google Analytics uses cookies to identify the frequency of use of certain areas of our websites and to identify preferences. Google will use this information to analyze your use of the website, compile reports on website activity for us, and perform further services associated with website use and Internet use. Google may also transmit this information to third parties where required by law or to the extent that third parties process these data on behalf of Google.</p>
        <p>You can deactivate Google Analytics using a browser add-on (for certain browser types on desktop) if you do not wish the website analysis to take place. You can download the add-on here: <a href="http://tools.google.com/dlpage/gaoptout" target="_blank" rel="nofollow noopener noreferrer">http://tools.google.com/dlpage/gaoptout</a>.</p>
        <p>This add-on stores “opt-out” information on your device that serves to match up your deactivation of Google Analytics. Please note that this kind of “opt out” only leads to the deactivation of Google Analytics for the device and browser from which the opt out was activated. In addition, you may need to reactivate it if you delete cookies from your device.</p>
        <h2>Your choice</h2>
        <p>Although most browsers automatically accept Cookies, you can change your browser options to stop automatically accepting Cookies or to prompt you before accepting Cookies. For other ways to control or delete Cookies, please visit <a href="http://www.aboutcookies.org" class="text-link" target="_blank" rel="nofollow">www.aboutcookies.org</a>. Please note, however, that if you don’t accept Cookies, you may not be able to access all the features that our Services offer and you may need to adjust some of your preferences every time you visit a website where our Services are hosted.</p>
        </div>
      </div>
  </div>
{% endblock content %}