{% extends 'layouts/base-travel.html' %}

{% block title %} Privacy Policy {% endblock title %}



{% block stylesheets %}

{% endblock stylesheets %}


{% block content %}

<!-- main_background -->
<header class="header-2">
  <div class="page-header section-height-75 relative" style="background-image: url('../../static/assets/img/privacy_policy.jpg')">
    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>

    <div class="container" >
        {% if privacy %}
                {% if user.is_superuser %}
                <a class="btn btn-app" href="{% url 'create-privacy-policy' %}">
                  <i class="fas fa-edit"></i> Create
                </a>
                {% endif %}
            {% for obj in privacy %}
                {% if user.is_superuser %}
                <a class="btn btn-app" href="{% url 'update-privacy-policy' obj.id %}">
                  <i class="fas fa-edit"></i> Edit
                </a>
                <a class="btn btn-app" href="{% url 'delete-privacy-policy' obj.id %}">
                  <i class="fas fa-delete"></i> Delete
                </a>
                {% endif %}
                <h1>{{ obj.subject }} </h1>
                <br/><br/>
                <h7>{{ obj.content }} </h7>
                <br/><br/>
            {% endfor %}
        {% endif %}
    </div>

{% endblock content %}