  <div class="container">
    <div class="row">
      <div class="row text-center my-sm-5 mt-5">
        <div class="col-lg-6 mx-auto">
          <h2 class="">Trending destinations</h2>
        </div>
      </div>
    </div>
    <div class="col-lg-offset-12">
    <div class="card">
      <div class="card-body">
        <div class="tab-content">
            <div class="timeline timeline-inverse">
                {% for i in '01' %}
                <!-- Date -->
              <div class="time-label">
                <span class="bg-danger">
                  10 Feb. 2014
                </span>
              </div>
                <!-- content -->
                {% for i in '01' %}
              <div>
                <i class="fas fa-envelope bg-primary"></i>

                <div class="timeline-item">
                  <span class="time"><i class="far fa-clock"></i> 5 min Driving</span>
                  <span class="time"><i class="far fa-clock"></i> 10 min Walking</span>

                  <h3 class="timeline-header"><a href="#">Trip Name</a> Trip short details</h3>
                      <div class="row mb-3">
                        <!-- /.col -->
                        <div class="col-sm-6">
                          <div class="row">
                            <!-- /.col -->
                            <div class="col-sm-6">
                              <img class="img-fluid mb-3" src="/static/assets/img/photo4.jpg" alt="Photo">
                              <img class="img-fluid" src="/static/assets/img/photo1.png" alt="Photo">
                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- /.row -->
                        </div>
                        <!-- /.col -->
                      </div>
                  <div class="timeline-body">
                    trip details
                  </div>
                </div>
              </div>
                {% endfor %}
                {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>